body {
  /* Prevent scrolling in paginated mode iOS */
  overscroll-behavior: none
}

/* Add a top margin to avoid content overlay */
main {
  margin-top: 30px;
}

nav.custom-navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  background-color: black;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.right-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

#reader {
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(221, 14%, 9%);
  font-size: 25px;
  line-height: 1.85;
  padding-top: 8px;
  padding-bottom: 8px;
}

*:has(> img),
*:has(> svg) {
  text-align: center;
}

#reader svg,
#reader img {
  max-height: 729px;
  max-width: 90%;
}

.character-counter {
  z-index: 10;
  right: .5rem;
  bottom: .5rem;
  position: fixed;
  font-size: .75rem;
}

.page-counter {
  z-index: 10;
  left: 50%;
  bottom: .5rem;
  position: fixed;
  font-size: .75rem;
}

#card-container {
  position: relative;
}

#card-container:hover>#delete-button {
  z-index: 10;
  position: absolute;
  float: right;
  margin: 5px 5px 0px 0px;
  top: 0;
  right: 0;
  display: block;
}

#delete-button {
  display: none;
}

progress.progress {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  float: right;
  width: 100%;
}

a.card {
  --bulma-card-radius: 0px;
}
