#reader {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  line-height: 1.85;
  /* 
  padding-top: 58px;
  padding-bottom: 58px;
  */

  padding: 8px 100px;
}

*:has(> img),
*:has(> svg) {
  text-align: center;
}

svg,
img {
  max-height: 729px;
}
