#reader {
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(221, 14%, 9%);
  font-size: 25px;
  line-height: 1.85;
  padding-top: 8px;
  padding-bottom: 8px;
}

*:has(> img),
*:has(> svg) {
  text-align: center;
}

#reader svg,
#reader img {
  max-width: 90%;
}

.character-counter {
  z-index: 10;
  right: .5rem;
  bottom: .5rem;
  position: fixed;
  font-size: .75rem;
}

#card-container {
  position: relative;
}

#card-container:hover>#delete-button {
  z-index: 10;
  position: absolute;
  float: right;
  margin: 5px 5px 0px 0px;
  top: 0;
  right: 0;
  display: block;
}

#delete-button {
  display: none;
}
