#reader {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  line-height: 1.85;
  padding-top: 8px;
  padding-bottom: 8px;
}

*:has(> img),
*:has(> svg) {
  text-align: center;
}

svg,
img {
  max-height: 729px;
}


.character-counter {
  z-index: 10;
  right: .5rem;
  bottom: .5rem;
  position: fixed;
  font-size: .75rem;
}
